.post-title {
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
  color: #333;
  text-decoration: none;
}
.left-wrapper {
  margin-bottom: 20px;
}

.left-wrapper .card {
  background-color: #ffffff; /* Change the background color to white */
}

.left-wrapper .card-body div {
  margin-bottom: 10px; /* Add some space between the divs */
  font-size: 16px; /* Increase the font size */
  color: #6a1a21; /* Change the text color */
}
.left-wrapper .card-body {
  color: #333;
}

.left-wrapper .card-title {
  font-size: 20px;
  font-weight: bold;
}
.left-wrapper .card-body ul {
  list-style-type: none; /* Remove the default bullet points */
  padding-left: 0; /* Remove the default padding */
}

.left-wrapper .card-body ul li {
  font-size: 18px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  color: #ff6347; /* Change the text color to tomato */
  background-color: #f2f2f2; /* Change the background color to light grey */
  margin-bottom: 10px; /* Add some space between the rules */
  padding: 10px; /* Add some padding around the text */
  border-radius: 5px; /* Add rounded corners */
}
.no-dropdown-toggle-icon {
  background: none;
  border: none;
}

.no-dropdown-toggle-icon:hover {
  background: none;
  border: none;
}

.no-dropdown-toggle-icon:focus {
  outline: none;
  box-shadow: none;
}

.no-dropdown-toggle-icon:active {
  background: none;
  border: none;
}
.edit-button, .delete-button {
  background-color: transparent;
  border: none;
  color: #2f344c;
  padding: 5px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.edit-button:hover{
  color: #007bff;
  transform: scale(1.2);
}

.delete-button:hover {
  color: #ff0000;
  transform: scale(1.2);
}

.category-text {
  font-weight: bold;
  color: #008000; /* Change the text color to green */
  font-size: 18px; /* Increase the font size */
}

.post-url {
  color: #333;
}
.username {
  color: #800000; /* Change the text color to maroon */
  font-size: 18px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
}
.post-text{
  margin-top: 10px;
  color: #333;
}

.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #ffffff; /* Change the background color to white */
  color: #333;
  position: relative;
  border-radius: 4px;
  padding:5px;
}
.comment .username {
  font-weight: bold;
  color: #333;
}

.comment-username {
  font-weight: bold;  /* Make the text bold */
  font-family: Arial, sans-serif;  /* Change the font */
  color: #ffffff;  /* Text color to white for contrast */
  background-color: #808080;  /* Background color to grey */
  padding: 10px;  /* Padding to give some space around the text */
  margin-bottom: 10px;  /* Increased margin-bottom */
  border-radius: 4px;  /* Rounded corners */
  font-size: 20px; /* Increase the font size */
  border: 2px solid #333; /* Add a border */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Add a shadow for a 3D effect */
}

.comment{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f5f5f5; /* Change the background color to light grey for better visibility */
  color: #333;
  position: relative;
  border-radius: 4px;
  padding:5px;
}
