.sidebar-view-category {
  width: 312px;
  height: 280px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: auto;  /* Add a scrollbar if the content overflows */
  background-color: #ffffff;  /* Change background color to white */
  color: #343a40;  /* Dark grey text */
  position: relative;
  border-radius: 4px;
  padding: 15px;  /* Increase padding */
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  /* Add a shadow for a 3D effect */
  transition: background-color 0.3s ease, color 0.3s ease;  /* Add a transition for the background color and text color */
}

.sidebar-view-category:hover {
  background-color: #f0f8ff; /* Change the background color to light blue on hover */
  color: #800000; /* Change the text color to maroon on hover */
  transform: none; /* Remove the transform on hover */
}
.category-text {
  display: block;  /* Make the category text a block element */
  margin: 10px 0;  /* Add some vertical margin */
  font-size: 1.2em;
  transition: background-color 0.3s ease, color 0.3s ease;  /* Add a transition for the background color and text color */
}

.category-text:hover {
  background-color: #f0f8ff; /* Change the background color to light blue on hover */
  color: #800000; /* Change the text color to maroon on hover */
}
.category-text button {
  background-color: transparent;
  border: none;
  color: #8B4513;
  cursor: pointer;
}

.category-text button:hover {
  color: #A0522D;
}
.category-text a {
  color: #8B4513;  /* Change the link color to a dark blue */
  text-decoration: none;  /* Remove the underline */
}

.category-text a:hover {
  color: #800000; /* Change the text color to maroon on hover */
  font-size: 1.4em; /* Increase the font size on hover */
}

hr {
  border-top: 1px solid #ccc;  /* Light grey horizontal line */
}

.view-all {
  text-align: center;
  font-weight: bold;
  color: #007bff;  /* Change the link color to a dark blue */
  cursor: pointer;  /* Change the cursor to a pointer when hovered */
}

.view-all:hover {
  color: #0056b3;  /* Darken the link color when hovered */
}
